 Prerequisites	
*.d	

# Compiled Object files	
*.slo	
*.lo	
*.o	
*.obj	

# Precompiled Headers	
*.gch	
*.pch	

# Compiled Dynamic libraries	
*.so	
*.dylib	
*.dll	

# Fortran module files	
*.mod	
*.smod	

# Compiled Static libraries	
*.lai	
*.la	
*.a	
*.lib	

# Executables	
*.exe	
*.out	
*.app	

# Logs	
*vgcore*	

babel.dir
bin
CMakeFiles
x64
build
doc/html
Babel.sln	
*.vcxproj
*.filters
*.cmake
CMakeCache.txt
*.lock
conan_imports_manifest.txt
conanbuildinfo.txt
conaninfo.txt
graph_info.json
.vs
cmake-build-debug

# IDE
.idea
/Babel.sln
